.homepage {
  margin: 0 100px;
  background-color: white;
}

.homepage p {
  margin-bottom: 16px;
}

.homepage h1 {
  font-size: 24px;
  margin-bottom: 36px;
  margin-top: 16px;
  text-align: center;
}
.homepageImages {
  width: 100%;
  height: 400px;
  display: absolute;
}
