.productsPageStyling {
  margin: 0 100px;
  background-color: white;
}
.vegetablesFlexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  padding: 20px;
  margin: 20px 0;
  & > div {
    flex: 1 0 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
}

.fruitsFlexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  padding: 20px;
  margin: 20px 0;
  & > div {
    flex: 1 0 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
}
